.logoutClick {
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    margin: 16px 0px;
    font-weight: 500;
    
    a {
        cursor: pointer;
    }
}

.lang{
        background-color: #2f338f;
        color: white;
}