<div *ngIf="lan=='en'" class="terms-conditions-area pt-4">
    <div class="container">
        <div class="single-content">
            <h3>Purpose of this policy</h3>
            <p>This policy sets out the circumstance that a student or customer is entitled to a refund and the
                procedure a student or
                customer must follow to withdraw from a Scheduled Driving Curriculum Lesson to get a refund.
            </p>
        </div>

        <div class="single-content">
            <h3>Refund Policy</h3>
            <p>The Driving School offer of a place is contingent upon payment of the Application and Administration Fee.
            </p>
        </div>
        <div class="single-content">
            <h3>
                Refunds
            </h3>
            <p>
                The Application and Administration Fee is not refundable.

                Except in cases of provider default, refunds will only be made in the following circumstances:
                <b> a) Where you cancel BEFORE the Scheduled Driving Curriculum Lesson Start Date </b>
                If written notice is received not less than 5 days prior to the Lesson Start Date the Driving School
                will, within 28
                days, refund the selected driving package fees less the application and administration fees.

                <b> b) Where you withdraw from the Scheduled Driving Curriculum Lesson AFTER the Start Date </b>
                If written notice is received not less than 5 days prior to the Lesson Start Date the Driving School
                will, within 28
                days, refund the selected driving package fees less the application and administration fees, Attended
                Lesson Fees,
                Withdrawal Fees and Cancellation Fees
            </p>
            <ul>
                <li>If you defer starting a Driving Lesson and then cancel the Driving Lesson, the original Scheduled
                    Driving
                    Start Date
                    before the deferment(s), will be used as the Driving Lesson Start Date to determine whether a refund
                    is
                    to be made.</li>

                <li>No refund will be made where the Driving School cancels, suspends or terminate your enrolment as a
                    result of your</li>
                conduct that subject to disciplinary actions
                <li>If you are over 18 years old, the refund will be paid directly to you or in accordance with your
                    written
                    directions.</li>
                <li>If you are under 18 years old, the refund may be paid to you but only with the authority or consent
                    of
                    your parent or legal guardian.</li>
                The Driving School may;
                Request further information or evidence to confirm that you are the person entitled to receive the fund
                or give a
                direction to pay the refund
                <li>Pay the refund to a bank account by direct credit to the locally registered bank but only if you
                    provide
                    the evidence
                    that the banks exist</li>
                <li>All refunds will be made in Malaysian currency only </li>
                <li> You agree that the Driving School may change the policy at anytime and the policy to be used to
                    determine whether you
                    receive a refund will be the policy applicable at the time you give notice of cancellation to
                    withdraw.</li>
            </ul>
        </div>

        <div class="single-content">
            <h3>Provider default</h3>
            <p>In cases of Provider (Driving School) default that, where the Driving School cancels or stop providing
                your lesson for
                any reason, the Driving School will, within 28 days, refund on a pro rata basis, the Driving Lesson
                Package Fees for the
                days the lesson conducted, unless:
                i. you withdraw from a Scheduled Lesson before it is cancelled; or
                ii. you accept an offer in an alternative course arranged by the Driving School
            </p>

        </div>

        <div class="single-content">
            <h3>Payment Terms</h3>
            <p>SEKOLAH MEMANDU AMANO reserves the right to add, change, alter or dismiss at any time without prior
                notice any steps
                established in order to obtain a Driving License, this changes might respond to internal policy changes
                or JPJ mandatory
                changes in the process of obtaining a Driving License. The Course fees shown on SEKOLAH MEMANDU AMANO
                Website are
                inclusive of GST/SST where applicable and must be paid upfront in order to take on a license driving
                course. These fees
                might change at SEKOLAH MEMANDU AMANO convenience without prior notice and do not represent a formal
                quotation for
                future date.
                A candidate allowed making his/her payment progressively. The management will keep the candidate
                informed on the mode of
                payment and has the rights to vary the fee / payment as and when necessary. The payment may vary at any
                time due to
                statutory requirement such as sales and service tax.
                A minimum payment of the fees upon enrolment are required. The minimum payment amount varies as per
                package so our
                customer service personnel will advise upon enrolment. Candidates must obtain official receipts for all
                payments.
                Payments should be made direct to SEKOLAH MEMANDU AMANO office(s) by cash or cheque or through online
                payment using our
                web application.
            </p>

        </div>
        <div class="single-content">
            <h3>How to withdraw from Scheduled Driving Lesson</h3>
            <p>Written notification to refund@smamano.my with the subject (Request for Cancellation by Your IC Number)

                The Driving School will process your email request and assess whether you are entitled to a refund based
                on our policy.
                The Driving School may ask further information or documentary evidence


            </p>

        </div>
    </div>
</div>

<div *ngIf="lan !=='en'" class="terms-conditions-area pt-4">
    <div class="container">
        <div class="single-content">
            <h3>Tujuan dasar polisi</h3>
            <p>Polisi ini menetapkan keadaan bahawa pelajar atau pelanggan berhak mendapat bayaran balik dan prosedur
                yang mesti
                diikuti oleh pelajar atau pelanggan untuk menarik diri daripada Pelajaran Kurikulum Memandu Berjadual
                untuk mendapatkan
                bayaran balik.
            </p>
        </div>

        <div class="single-content">
            <h3>Polisi Bayaran Balik</h3>
            <p>Sekolah Memandu menawar syarat yang bergantung kepada pembayaran Yuran Permohonan dan Pentadbiran.Purpose
                of this policy</p>
        </div>
        <div class="single-content">
            <h3>
                Polisi Pembayaran Balik
            </h3>
            <p>
                Yuran Permohonan dan Pentadbiran tidak akan dikembalikan.
                <b>Kecuali dalam kes lalai pembekal, bayaran balik hanya akan dibuat dalam keadaan berikut:</b>
                <b> i. Di mana anda membatalkan SEBELUM Tarikh Mula Pelajaran Kurikulum Memandu Berjadual </b>
                Jika notis bertulis diterima tidak kurang daripada 5 hari sebelum Tarikh Mula Pelajaran, Sekolah Memandu
                akan, dalam
                masa 28 hari, membayar balik yuran pakej pemanduan yang dipilih ditolak yuran permohonan dan
                pentadbiran.
                <b> ii. Di mana anda menarik diri daripada Pelajaran Kurikulum Memandu Berjadual SELEPAS Tarikh Mula
                </b>
                Jika notis bertulis diterima tidak kurang daripada 5 hari sebelum Tarikh Mula Pelajaran, Sekolah Memandu
                akan, dalam
                tempoh 28 hari, membayar balik yuran pakej pemanduan yang dipilih ditolak yuran permohonan dan
                pentadbiran, Yuran
                Pelajaran yang Dihadiri, Yuran Pengeluaran dan Yuran Pembatalan

            </p>
            <ul>
                <li>Jika anda menangguhkan memulakan Pelajaran Memandu dan kemudian membatalkan Pelajaran Memandu,
                    Tarikh Mula Memandu
                    Berjadual asal sebelum penangguhan, akan digunakan sebagai Tarikh Mula Pelajaran Memandu untuk
                    menentukan sama ada
                    bayaran balik perlu dibuat.</li>

                <li>Tiada bayaran balik akan dibuat apabila Sekolah Memandu membatalkan, menggantung atau menamatkan
                    pendaftaran anda akibat
                    kelakuan anda yang tertakluk kepada tindakan tatatertib </li>
                <li>Jika anda berumur lebih daripada 18 tahun, bayaran balik akan dibayar terus kepada anda atau
                    mengikut arahan bertulis
                    anda..</li>
                <li>Jika anda berumur di bawah 18 tahun, bayaran balik mungkin dibayar kepada anda tetapi hanya dengan
                    kebenaran atau persetujuan ibu bapa atau penjaga sah anda.
                </li>
                <li>Sekolah Memandu boleh;
                    Minta maklumat atau bukti lanjut untuk mengesahkan bahawa anda adalah orang yang berhak menerima
                    dana atau memberi
                    arahan untuk membayar bayaran balik
                    Bayar bayaran balik ke akaun bank melalui kredit terus kepada bank berdaftar tempatan tetapi hanya
                    jika anda memberikan
                    bukti bahawa bank itu wujud
                </li>
                <li>Semua bayaran balik akan dibuat dalam mata wang Malaysia sahaja </li>
                <li> Anda bersetuju bahawa Sekolah Memandu boleh menukar polisi pada bila-bila masa dan polisi yang akan
                    digunakan untuk
                    menentukan sama ada anda menerima bayaran balik akan menjadi polisi yang terpakai pada masa anda
                    memberikan notis
                    pembatalan untuk menarik diri.
                </li>
            </ul>
        </div>

        <div class="single-content">
            <h3>Lalai Pembekal</h3>
            <p>Dalam kes keingkaran Penyedia (Sekolah Memandu), iaitu, di mana Sekolah Memandu membatalkan atau berhenti
                menyediakan
                pelajaran anda atas sebarang sebab, Sekolah Memandu akan, dalam masa 28 hari,
                membayar balik secara prorata, Yuran Pakej Pelajaran Memandu untuk hari pelajaran dijalankan melainkan;
                anda menarik diri daripada Pelajaran Berjadual sebelum ia dibatalkan; atau
                anda menerima tawaran dalam kursus alternatif yang diatur oleh Sekolah Memandu

            </p>

        </div>

        <div class="single-content">
            <h3>Bagaimana untuk menarik diri daripada Pelajaran Memandu Berjadual</h3>
            <p>Pemberitahuan bertulis kepada refund@smamano.my dengan subjek (Permintaan Pembatalan dengan Nombor Kad
                Pengenalan Anda)
                Sekolah Memandu akan memproses permintaan e-mel anda dan menilai sama ada anda layak menerima bayaran
                balik berdasarkan
                dasar kami. Sekolah Memandu boleh meminta maklumat lanjut atau bukti dokumentari

            </p>
        </div>
    </div>

</div>