<!-- Inner Banner -->
<!-- Inner Banner End -->

<!-- About Area -->
<div *ngIf="lan=='en'" class="terms-conditions-area pt-50 pb-70">
    <div class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div>
                        <img src="assets/img/aboutUs-banner1.jpg" alt="Images">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <span>About Us</span>
                        <h2>Established in 1982 and serving the people for more than 39 years. </h2>
                        <h3>The company has grown their staff strength 3-fold or 300% over the years. </h3>
                        <p> Amano Driving School has taught approximately 70,000 driving license leaners who has
                            successfully
                            obtained their driving license. The founder of Amano Driving School is Mr. Manoharan who has
                            experience in this field
                            from being an Driving Instructor to Quality Testing Inspector and hold different management
                            positions and eventually run
                            his own driving school
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-polygon-shape">
            <img src="assets/img/shape/shape10.png" alt="Images">
        </div>
    </div>
    <!-- About Area End -->

    <div class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <div class="about-counter">
                            <p>
                                Nevertheless Mr. Manoharan still active teaching students as Senior Instructor in Amano
                                Driving School. Mr. Manoharan is
                                a prominent mentor for the young driving instructors who had joined Amano Driving
                                School.
                                Mr. Dinesharan is currently
                                heading the team to continue and expand Mr. Manoharan legacy.
                            </p>
                        </div>

                        <div class="about-counter">
                            <p>Amano Driving School is a business partner of Pusat Latihan Memandu Kenderaan Banting
                                where
                                all the driving curriculum
                                classes are conducted. The Institute are equipped with professionally built driving and
                                riding circuit facilities and
                                other essentials to ensure the student or customer experience a comfort and conducive
                                learning environment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div>
                        <img src="assets/img/aboutUs-banner2.jpg" alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <div class="about-polygon-shape">
            <img src="assets/img/shape/shape10.png" alt="Images">
        </div>
    </div>
    <!-- About Area End -->

    <!-- Choose Area -->
    <div class="choose-area-two choose-bg pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="choose-img-2">
                        <img src="assets/img/aboutUs-banner3.jpg" alt="Images">

                        <div class="choose-dots">
                            <img src="assets/img/choose/choose-dots.png" alt="Images">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="choose-content choose-content-title">
                        <div class="section-title">
                           
                            <h2>To be known as the Best Driving School when comes to driving lessons</h2>
                            <p>We are committed in providing the Professional Training and Education services for our
                                Local and International Candidates, with
                                strong focus on educating the nuances in driving rather than ensuring the candidate to
                                get through the Road Transport
                                Department exam. We are pragmatic and set high priority in quality of service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="lan !=='en'" class="terms-conditions-area pt-50 pb-70">
    <div class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">

                    <div>
                        <img src="assets/img/aboutUs-banner1.jpg" alt="Images">
                    </div>

                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <span>Tentang Kami</span>
                        <h2>Ditubuhkan pada 1982 dan berkhidmat kepada rakyat selama lebih 39 tahun. </h2>
                        <h3>Syarikat telah meningkatkan kekuatan kakitangan
                            mereka 3 kali ganda atau 300% sepanjang 39 tahun. </h3>
                        <p>Sekolah Memandu Amano telah mengajar kira-kira 70,000 pelajar kurus lesen memandu yang telah
                            berjaya memperoleh lesen
                            memandu mereka. Pengasas Sekolah Memandu Amano ialah En Manoharan yang berpengalaman dalam
                            bidang ini di mana beliau
                            mula ceburi industri dengan menjadi Pengajar Memandu kepada Inspektor Ujian Kualiti dan
                            memegang jawatan pengurusan yang
                            berbeza dan akhirnya menjalankan sekolah memandu sendiri

                        </p>

                        <div class="about-counter">
                            <p>En Manoharan telah menyerahkan Sekolah Memandu Amano kepada En. Dinesharan yang merupakan
                                graduan dari Universiti
                                tempatan. Namun begitu En Manoharan masih aktif mengajar pelajar sebagai Pengajar Kanan
                                di Sekolah Memandu Amano. En.
                                Manoharan ialah mentor terkemuka untuk pengajar pemanduan muda yang telah menyertai
                                Sekolah Memandu Amano. En,
                                Dinesharan kini mengetuai pasukan untuk meneruskan dan mengembangkan legasi En.
                                Manoharan.
                            </p>
                        </div>



                        <div class="about-counter">
                            <p>Sekolah Memandu Amani merupakan rakan perniagaan Pusat Latihan Memandu Kenderaan Banting
                                di mana semua kelas kurikulum
                                memandu dijalankan. Institut dilengkapi dengan kemudahan litar pemanduan dan tunggangan
                                yang dibina secara profesional
                                dan keperluan lain untuk memastikan pelajar atau pelanggan mengalami persekitaran
                                pembelajaran yang selesa dan kondusif.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-polygon-shape">
            <img src="assets/img/shape/shape10.png" alt="Images">
        </div>
    </div>
    <!-- About Area End -->

    <!-- Choose Area -->
    <div class="choose-area-two choose-bg pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="choose-content choose-content-title">
                        <div class="section-title">
                            <h2>Untuk dikenali sebagai Sekolah Memandu Terbaik untuk pelajaran memandu
                            </h2>
                            <p>Kami komited dalam menyediakan perkhidmatan Latihan dan Pendidikan Profesional untuk pelanggan
                                Tempatan dan Antarabangsa kami,
                                dengan tumpuan yang kuat untuk mendidik nuansa pemanduan daripada memastikan calon lulus
                                peperiksaan Jabatan
                                Pengangkutan Jalan. Kami pragmatik dan meletakkan keutamaan yang tinggi dalam kualiti
                                perkhidmatan.</p>

                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="choose-img-2">
                    <img src="assets/img/aboutUs-banner3.jpg" alt="Images">

                        <div class="choose-dots">
                            <img src="assets/img/choose/choose-dots.png" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>