<div *ngIf="lan=='en'">
    <div class="terms-conditions-area pt-4 ">
        <div class="container">
            <div class="single-content">
                <h3>Welcome to AMANO’s Terms & Conditions</h3>
                <p>All driving lessons and courses are operated by SEKOLAH MEMANDU AMANO, registered office is at NO 66-G,JALAN JU 2,TAMAN
                JAYA UTAMA ,TELOK PANGLIMA GARANG ,42500 TLK PANGLIMA GARANG selangor, Malaysia. SEKOLAH MEMANDU AMANO is not liable for
                the exposure to, war, terrorist activity, natural disaster, civil strife, adverse weather or road conditions, fire,
                bureaucratic obstacles. SEKOLAH MEMANDU AMANO reserves the right to decline any booking, enrolment, at their discretion.
                The Candidate(s)/ Driver Learner(s) / Driving candidate(s) are required to sign a copy of the terms and conditions form
                after reading it.</p>
                <p> The terms and conditions and all matters arising from it are subject to Malaysian law and the exclusive jurisdiction of
                the Malaysian Courts. In the event that any of the provisions of this terms and conditions shall be determined by any
                Court to be invalid, unlawful or unenforceable to any extent then such provision shall to that extent be severed from
                the remaining provisions of the terms and conditions, which shall continue to be valid and enforceable. We understand
                the Driving is potentially hazardous and you are aware of the implications and risk when you agree to pursue driving
                lesson. We will take all reasonable precautions to ensure your safety whilst you are learning with us, however you
                should also do your best to prevent injury or accident to yourself or others. We expect you to abide to the guidance and
                rules set by the driving instructor. If you are unsure, you are expected to get the clarification form the driving
                instructor. If any accident were to occur due to negligence, he or she will be personally liable for damages.
                </p>
            </div>
        </div>
    </div>
    <div class="faq-area pt-10 pb-70">
        <div class="container">

            <div class="row align-items-center pt-45">
                <div class="col-lg-12 col-md-12" flex>
                    <div class="faq-accordion" style="display: contents;">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>
                                    General Rules and Information General Conduct</a>
                                <div class="accordion-content show">
                                    <p>Our trainer is bound by a professional code of conduct, which ensures that all of the SEKOLAH MEMANDU AMANO upkeep their
                                    professionalism at all time and ensure the driving lesson learners are treated politely and ensure the comfort during
                                    the lesson. SEKOLAH MEMANDU AMANO Trainer is licensed to use SEKOLAH MEMANDU AMANO’s and JPJ’s standard operation
                                    procedure(s).</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Qualifications</a>
                                <div class="accordion-content">
                                    <p>The Road Transport Department of Malaysia (JPJ) is the agency that examines licenses and controls the standards of all
                                    driving trainer in the Malaysia. Our SEKOLAH MEMANDU AMANO Driving Trainers are registered with the SEKOLAH MEMANDU
                                    AMANO and certified by JPJ to conduct the lessons. The trainers are required to display the Sijil Pengajar Institut
                                    Memandu (SPIM) badge on his/her car.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Vehicle</a>
                                <div class="accordion-content">
                                    <p>The vehicles in SEKOLAH MEMANDU AMANO are fitted with dual controls for safety measure, regularly maintained to ensure
                                    the best driving condition and kept clean at all times.

                                    </p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>General Terms</a>
                                <div class="accordion-content">
                                    <p>SEKOLAH MEMANDU AMANO strictly abide or comply with the JPJ requirement in term of age requirements and also
                                    prerequisite for license seekers as stated in www.jpj.gov.my
</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Payment Terms</a>
                                <div class="accordion-content">
                                    <ul>
                                        <li>SEKOLAH MEMANDU AMANO reserves the right to add, change, alter or dismiss at any time without prior notice any steps
                                        established in order to obtain a Driving License, this changes might respond to internal policy changes or JPJ mandatory
                                        changes in the process of obtaining a Driving License. The Course fees shown on SEKOLAH MEMANDU AMANO Website are
                                        inclusive of GST/SST where applicable and must be paid upfront in order to take on a license driving course. These fees
                                        might change at SEKOLAH MEMANDU AMANO convenience without prior notice and do not represent a formal quotation for
                                        future date.

                                        </li>
                                        <li>
                                        A candidate allowed making his/her payment progressively. The management will keep the candidate informed on the mode of
                                        payment and has the rights to vary the fee / payment as and when necessary. The payment may vary at any time due to
                                        statutory requirement such as sales and service tax.

                                        </li>
                                        <li>
                                        A minimum payment of the fees upon enrolment are required. The minimum payment amount varies as per package so our
                                        customer service personnel will advise upon enrolment. Candidates must obtain official receipts for all payments.

                                        </li>
                                        <li> Payments should be made direct to SEKOLAH MEMANDU AMANO office(s) by cash or cheque or through online payment using our
                                        web application.

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>SEKOLAH MEMANDU AMANO’s Website Terms &
                                    Conditions</a>
                                <div class="accordion-content">
                                    <p>In these Terms and Conditions “we, our, us, SEKOLAH MEMANDU AMANO. refers to
                                        “www.smamano.my”</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Acceptance of Terms</a>
                                <div class="accordion-content">
                                    <p>By accessing the content of www.smamano.my (“the Website”) you agree to be bound by the terms and conditions set out
                                    above and herein. If you object to any of the terms and conditions set out in this agreement you should not use any of
                                    the products or services on the Website and leave immediately. You agree that you shall not use the Website for illegal
                                    purposes, and will respect all applicable laws and regulations. You agree not to use the website in a way that may
                                    impair the performance, corrupt the content or otherwise reduce the overall functionality of the Website. You also agree
                                    not to compromise the security of the Website or attempt to gain access to secured areas or sensitive information. You
                                    agree to be fully responsible for any claim, expense, liability, losses, costs including legal fees incurred by us
                                    arising from any infringement of the terms and conditions set out in this agreement.
</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div *ngIf="lan !=='en'">
    <div class="terms-conditions-area pt-100 ">
        <div class="container">
            <div class="single-content">
                <h3>Selamat datang ke Terma & Syarat Amano</h3>
                <p>Semua kursus dan kelas akan dijalankan oleh SEKOLAH MEMANDU AMANO di pejabat rasmi di NO 66-G,JALAN JU 2,TAMAN JAYA
                UTAMA ,TELOK PANGLIMA GARANG ,42500 TLK PANGLIMA GARANG selangor, Malaysia. SEKOLAH MEMANDU AMANO tidak bertanggungjawab
                terhadap pendedahan, peperangan, aktiviti pengganas, bencana alam, persengketaan awam, cuaca buruk atau keadaan jalan
                raya, kebakaran, halangan birokrasi. SEKOLAH MEMANDU AMANO berhak untuk menolak sebarang tempahan, pendaftaran, mengikut
                budi bicara mereka. Calon/Pelajar Pemandu/Calon Memandu dikehendaki menandatangani salinan borang terma dan syarat
                selepas membacanya. Terma dan syarat serta semua perkara yang tersirat adalah tertakluk kepada undang-undang Malaysia
                dan bidang kuasa eksklusif Mahkamah Malaysia. Sekiranya mana-mana peruntukan dalam terma dan syarat ini akan ditentukan
                oleh mana-mana Mahkamah sebagai tidak sah, menyalahi undang-undang atau tidak boleh dikuatkuasakan setakat mana pun,
                maka peruntukan tersebut hendaklah setakat itu diputuskan daripada peruntukan terma dan syarat yang selebihnya, yang
                hendaklah terus sah dan boleh dikuatkuasakan.
</p>
                <p>Kami memahami pembelajaran memandu adalah aktiviti berpotensi merbahaya dan anda sedar tentang implikasi dan risiko
                apabila anda bersetuju untuk mengikuti pelajaran memandu. Kami akan mengambil semua langkah berjaga-jaga yang munasabah
                untuk memastikan keselamatan anda semasa anda belajar dengan kami, namun anda juga harus melakukan yang terbaik untuk
                mengelakkan kecederaan atau kemalangan kepada diri sendiri atau orang lain. Kami mengharapkan anda mematuhi panduan dan
                peraturan yang ditetapkan oleh pengajar memandu. Jika anda tidak pasti, anda diminta mendapatkan borang penjelasan
                daripada pengajar memandu. Jika sebarang kemalangan berlaku kerana kecuaian, anda akan bertanggungjawab secara peribadi
                untuk ganti rugi.

                </p>
            </div>
        </div>
    </div>
    <div class="faq-area pt-10 pb-70">
        <div class="container">
            <div class="row align-items-center pt-45">
                <div class="col-lg-12 col-md-12" flex>
                    <div class="faq-accordion" style="display: contents;">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>
                                    Peraturan Am dan Maklumat Am</a>
                                <div class="accordion-content show">
                                    <p>Jurulatih kami terikat dengan tatakelakuan profesional, yang memastikan semua SEKOLAH MEMANDU AMANO mengekalkan
                                    profesionalisme mereka pada setiap masa dan memastikan pelajar pelajaran memandu dilayan dengan sopan dan memastikan
                                    keselesaan semasa pelajaran. Jurulatih SEKOLAH MEMANDU AMANO diberi lesen untuk menggunakan prosedur operasi standard
                                    SEKOLAH MEMANDU AMANO dan JPJ.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Kelayakan</a>
                                <div class="accordion-content">
                                    <p>Jabatan Pengangkutan Jalan Malaysia (JPJ) ialah agensi yang memeriksa lesen dan mengawal standard semua jurulatih
                                    memandu di Malaysia. Jurulatih Memandu SEKOLAH MEMANDU AMANO kami berdaftar dengan SEKOLAH MEMANDU AMANO dan diperakui
                                    oleh JPJ untuk mengendalikan pelajaran. Jurulatih dikehendaki mempamerkan lencana Sijil Pengajar Institut Memandu (SPIM)
                                    pada keretanya.
</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Kenderaan</a>
                                <div class="accordion-content">
                                    <p>Kenderaan di SEKOLAH MEMENDU KANAGA dilengkapi dwi kawalan untuk langkah keselamatan, diselenggara secara berkala bagi
                                    memastikan keadaan pemanduan terbaik dan sentiasa bersih.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Terma Am</a>
                                <div class="accordion-content">
                                    <p>SEKOLAH MEMANDU AMANO dengan tegas mematuhi atau mematuhi keperluan JPJ dari segi syarat umur dan juga prasyarat bagi
                                    pencari lesen seperti yang dinyatakan dalam www.jpj.gov.my
</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Terma pembayaran</a>
                                <div class="accordion-content">
                                    <ul>
                                        <li>SEKOLAH MEMANDU AMANO berhak untuk menambah, menukar, mengubah atau menolak pada bila-bila masa tanpa notis awal apa-apa
                                        langkah yang ditetapkan untuk mendapatkan Lesen Memandu, perubahan ini mungkin bertindak balas kepada perubahan dasar
                                        dalaman atau perubahan mandatori JPJ dalam proses mendapatkan a Lesen memandu. Yuran Kursus yang ditunjukkan di Laman
                                        Web SEKOLAH MEMANDU AMANO adalah termasuk GST/SST dan mesti dibayar pendahuluan untuk mengikuti kursus memandu lesen.
                                        Yuran ini mungkin berubah mengikut kemudahan SEKOLAH MEMANDU AMANO tanpa notis awal dan tidak mewakili sebut harga rasmi
                                        untuk tarikh akan datang.


                                        </li>
                                        <li>
                                        Calon dibenarkan membuat pembayaran secara berperingkat. Pihak pengurusan akan memaklumkan calon mengenai cara
                                        pembayaran dan mempunyai hak untuk mengubah yuran / bayaran apabila perlu. Bayaran mungkin berbeza-beza pada bila-bila
                                        masa disebabkan oleh keperluan berkanun seperti cukai jualan dan perkhidmatan.
                                        </li>
                                        <li>
                                            Bayaran minimum yuran semasa pendaftaran diperlukan. Jumlah bayaran minimum berbeza mengikut informasi pakej tertera di
                                            laman web kanaga.my. Calon boleh juga mendapatkan nasihat dari staf kami di pejabat berdaftar. Calon mesti mendapatkan
                                            resit rasmi untuk semua pembayaran.

                                        </li>
                                        <li>Pembayaran hendaklah dibuat terus ke pejabat SEKOLAH MEMANDU AMANO secara tunai atau cek atau melalui pembayaran dalam
                                        talian menggunakan aplikasi web kami.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title " href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>SEKOLAH MEMANDU AMANO’s Website Terma & Syarat</a>
                                <div class="accordion-content">
                                    <p>Dalam Terma dan Syarat ini “kami, SEKOLAH MEMANDU AMANO. merujuk kepada www.smamano.my
</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-chevron-down'></i>Penerimaan Syarat</a>
                                <div class="accordion-content">
                                    <p>Dengan mengakses kandungan www.smamano.my (“Laman Web”) anda bersetuju untuk terikat dengan terma dan syarat yang
                                    dinyatakan di atas dan di sini. Jika anda membantah mana-mana terma dan syarat yang ditetapkan dalam perjanjian ini,
                                    anda tidak seharusnya menggunakan mana-mana produk atau perkhidmatan di Laman Web ini dan meninggalkan laman web ini
                                    serta-merta. Anda bersetuju bahawa anda tidak akan menggunakan Laman Web ini untuk tujuan yang menyalahi undang-undang,
                                    dan akan menghormati semua undang-undang dan peraturan yang berkenaan. Anda bersetuju untuk tidak menggunakan tapak web
                                    dengan cara yang boleh menjejaskan prestasi, merosakkan kandungan atau sebaliknya mengurangkan kefungsian keseluruhan
                                    Laman Web ini. Anda juga bersetuju untuk tidak menjejaskan keselamatan Laman Web atau cuba mendapatkan akses ke kawasan
                                    selamat atau maklumat sensitif. Anda bersetuju untuk bertanggungjawab sepenuhnya untuk sebarang tuntutan, perbelanjaan,
                                    liabiliti, kerugian, kos termasuk yuran guaman yang akan ditanggung oleh kami yang berpunca daripada sebarang
                                    pelanggaran terma dan syarat yang ditetapkan dalam perjanjian ini.

                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>