.special-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #fff !important;
    border-radius: 5px;
    transition: 0.7s;
    opacity: 0;
    z-index: -1;
}
.special-card:hover .content h3 a {
    color: #2f338f !important;
}
.special-card:hover .content p {
    color: #2f338f !important;
}
.special-card .content {
    padding: 14px 13px;
    // border: 1px solid #002060;
    border-top: 0px;
    border-radius: 4px;
    height: 230px;
}
.service-card1{
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    padding: 30px 15px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
    text-align: center;
}

.special-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #fff !important;
    border-radius: 5px;
    transition: 0.7s;
    opacity: 0;
    z-index: -1;
}
.special-card:hover .content h3 a {
    color: #2f338f !important;
}
.special-card:hover .content p {
    color: #2f338f !important;
}
.special-card .content {
    padding: 14px 13px;
    // border: 1px solid #002060;
    border-top: 0px;
    border-radius: 4px;
    height: 230px;
}
.service-card1{
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    padding: 30px 15px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
    text-align: center;
}

.ng-image-fullscreen-view 
    .ng-image-fullscreen-view 
        .lightbox-wrapper 
            .lightbox-div 
                .lightbox-image-main 
                    .lightbox-image 
                        .custom-image-main img{
                        
                                background-color: white !important;
}