.mat-stepper-horizontal {
    margin-top: 8px;
    border: 1px #0000;
  }
  
  .mat-form-field {
    margin-top: 16px;
    margin-left: 16px;
    border: #0000 1px solid !important;
  }
mat-form-field {
  mat-icon {
    color: #919191;
  }
}
mat-button{
  padding-right: 5px;
}