<!-- Banner Area -->
<div *ngIf="lan=='en'" class="terms-conditions-area">
    <div class="banner-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <span>Since 1982</span>
                        <h1>To be known as the Best Driving School when comes to driving lessons</h1>

                        <div class="banner-btn">
                            <a routerLink="/contact" class="contact-btn">Contact Us</a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="banner-img">
                        <img src="assets/img/DL.jpg" alt="Images">

                        <div class="dots">
                            <img src="assets/img/shape/dots.png" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-shape">
            <div class="shape-icon"><i class="flaticon-graph"></i></div>
        </div>
    </div>


    <!-- About Area -->
    <div class="about-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div>
                        <div class="about-img-small">
                            <img src="assets/img/home-banner-1.jpg" alt="Images">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <p>
                            Sekolah Memandu Amano have been operating since 1982 which is almost 39+ years in operation.
                            Almost all the instructors
                            are with us for more than 20 years hence we have a very experienced team who have trained
                            more than 70,000 candidates to
                            date and the number is still on counting.
                        </p>
                        <p>
                            With the experience of teaching driving lessons for more than 20 years and
                            added up with the exposure of teaching for more than 70,000+ candidates where their art or
                            skills of teaching is
                            constantly put on test, we are proud of our instructors who have proven themselves by
                            increasing the passing percentage
                            year by year.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <p>
                            We do understand the candidate phycological condition especially when they don’t have
                            experience in handling a
                            vehicle
                            and our team of professionals are sensitive to candidate dilemma and diligently provide the
                            best support at every
                            possible instance in order to pacify the customer and deliver the lessons comfortably to the
                            candidate
                        </p>
                        <p>
                            We in Sekolah Memandu Amano are serious in our driving lesson curriculum that comply to
                            Jabatan
                            Pengangkutan Jalan (JPJ)
                            requirements and we will creatively deliver the lessons to enhance the absorption hence the
                            candidate will master the
                            art of driving at acceptable duration.
                        </p>
                        <p>
                            We would like to take this opportunities to extend our gratitude to all the
                            customers who have supported us till to date and last but not least we believe we can’t
                            achieve
                            our excellence if we don’t have a superb Amano team who have been dedicated and professional
                            through out the years.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div>
                        <img src="assets/img/home-banner-2.jpg" alt="Images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="lan !=='en'" class="terms-conditions-area">
    <div class="banner-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <span>sejak tahun 1982</span>
                        <h1>Untuk dikenali sebagai Sekolah Memandu Terbaik untuk pelajaran memandu</h1>

                        <div class="banner-btn">
                            <a routerLink="/contact" class="contact-btn">Contact Us</a>
                            <!-- <a routerLink="/" class="get-btn">Get A Quote</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="banner-img">
                        <img src="assets/img/DL.jpg" alt="Images">

                        <div class="dots">
                            <img src="assets/img/shape/dots.png" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-shape">
            <div class="shape-icon"><i class="flaticon-graph"></i></div>
        </div>
    </div>


    <!-- About Area -->
    <div class="about-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div>
                        <div class="about-img-small">
                            <img src="assets/img/home-banner-1.jpg" alt="Images">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <p>
                            Sekolah Memandu Amano telah beroperasi sejak tahun 1982 iaitu hampir 39+ tahun beroperasi.
                            Hampir semua tenaga pengajar
                            telah bersama kami selama lebih daripada 20 tahun oleh itu kami mempunyai pasukan yang
                            sangat berpengalaman yang telah
                            melatih lebih daripada 70,000 calon sehingga kini dan bilangannya masih dalam pengiraan.
                        </p>
                        <p>
                            Dengan pengalaman mengajar pelajaran memandu selama lebih daripada 20 tahun dan ditambah
                            dengan pendedahan mengajar
                            lebih daripada 70,000+ calon di mana seni atau kemahiran mengajar mereka sentiasa diuji,
                            kami berbangga dengan tenaga
                            pengajar kami yang telah membuktikan diri mereka dengan meningkatkan peratus lulus tahun
                            demi tahun.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <p>
                            Kami memahami keadaan psikologi calon terutamanya apabila mereka tidak mempunyai pengalaman
                            dalam mengendalikan
                            kenderaan dan pasukan profesional kami sensitif terhadap dilema calon dan bersungguh-sungguh
                            memberikan sokongan terbaik
                            pada setiap keadaan yang mungkin untuk menenangkan pelanggan dan menyampaikan pelajaran
                            dengan selesa kepada calon.
                        </p>
                        <p>
                            Kami di Sekolah Memandu Amano serius dalam kurikulum pelajaran memandu kami yang mematuhi
                            keperluan Jabatan Pengangkutan
                            Jalan (JPJ) dan kami akan menyampaikan pelajaran secara kreatif untuk meningkatkan
                            penyerapan justeru calon akan
                            menguasai seni pemanduan pada tempoh yang boleh diterima.
                        </p>
                        <p>
                            Kami ingin mengambil peluang ini untuk mengucapkan terima kasih kepada semua pelanggan yang
                            telah menyokong kami
                            sehingga kini dan akhir sekali kami percaya kami tidak dapat mencapai kecemerlangan kami
                            jika kami tidak mempunyai
                            pasukan Amano yang hebat yang berdedikasi. dan profesional.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div>
                        <img src="assets/img/home-banner-2.jpg" alt="Images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>