<div  *ngIf="lan =='en'"><!-- Footer Area -->
<footer  class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/Amano_Logo_footer.png" alt="Images" height="88px"></a>
                    </div>
                    <p>To be known as the Best Driving School when comes to driving lessons.</p>
                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/sekolahmemanduamano" target="_blank"><i class='bx bxl-facebook'></i></a></li> 
                        <li><a href="https://www.instagram.com/amano_driving_school/?hl=en" target="_blank"><i class='bx bxl-instagram'></i></a></li> 
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h3>Useful Links</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/license">Licenses</a></li>
                        <li><a routerLink="/terms-conditions">Terms and Condition</a></li>
                        <li><a routerLink="/cancellation-policy">Cancellation and Refund Policy</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="footer-widget">
                    <h3>Contacts</h3>

                    <ul class="footer-list-two">
                        <li>
                            <i class='bx bx-time'></i>
                            Sun - Fri: 8.00am - 6.00pm
                        </li>
                        <li>
                            <i class='bx bx-location-plus'></i>
                        NO .66-G,JALAN JU 2,TAMAN JAYA UTAMA ,TELOK PANGLIMA GARANG 
                        ,42500 TLK PANGLIMA GARANG SELANGOR
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+603-31222633">Land Line : +603-31222633</a>
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+6016-9553119">Mobile Number: +6016-9553119 & +6010-2108914</a>
                        </li>
                        <li>
                            <i class='bx bxs-envelope'></i>
                            <a href="mailto:info@smamano.my">info@smamano.my</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <!-- <p>Copyright @2021 Gloz. All Rights Reserved by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p> -->
            <p>Copyright @2021 Amano. All Rights Reserved by Amano</p>

        </div>
    </div>
</div>
</div> <div  *ngIf="lan !=='en'">
<!-- Footer Area End -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/Amano_Logo_footer.png" alt="Images" height="88px"></a>
                    </div>
                    <p>Untuk dikenali sebagai Sekolah Memandu Terbaik apabila datang ke pelajaran memandu.</p>
                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/sekolahmemanduamano" target="_blank"><i class='bx bxl-facebook'></i></a></li> 
                        <li><a href="https://www.instagram.com/amano_driving_school/?hl=en" target="_blank"><i class='bx bxl-instagram'></i></a></li> 
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h3>Pautan Pengguna</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/license">Lesen</a></li>
                        <li><a routerLink="/terms-conditions">Terma & Syarat</a></li>
                        <li><a routerLink="/cancellation-policy">Polisi Pembatalan & Bayaran Balik</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="footer-widget">
                    <h3>Hubung Kami</h3>

                    <ul class="footer-list-two">
                        <li>
                            <i class='bx bx-time'></i>
                            Ahad - Jumaat 8:00am - 6:00pm
                        </li>
                        <li>
                            <i class='bx bx-location-plus'></i>
                        NO .66-G,JALAN JU 2,TAMAN JAYA UTAMA ,TELOK PANGLIMA GARANG 
                        ,42500 TLK PANGLIMA GARANG SELANGOR
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+603-31222633">Talian Tetap: +603-31222633</a>
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+6016-9553119">Telefon Mudah Alik: +6016-9553119 & +6010-2108914</a>
                        </li>
                        <li>
                            <i class='bx bxs-envelope'></i>
                            <a href="mailto:info@smamano.my">info@smamano.my</a>
                        </li>
                    </ul>
                </div>
            </div>

          
        </div>
    </div>
</footer>
<!-- Copy-Right Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>Hak Cipta @2021 Amano. Hak Cipta Terpelihara oleh <a href="https://hibootstrap.com/" target="_blank">Amano</a></p>
        </div>
    </div>
</div></div>
<!-- Copy-Right Area End -->